.btn-custom {
    margin-top: 20px;
    padding: 20px 15px;
    align-items: center;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-custom:hover {
    background-color: #cfcfcf;
}

.btn-custom.btn-style-1 {
    background-color: var(--primary-secondary-color);
    color: #fff;
    transition: all 0.3s ease;
}

.btn-custom.btn-style-1:hover {
    background-color: var(--primary-secondary-color-hover);
    color: #fff;
    transition: all 0.3s ease;
}

.btn-custom.btn-style-2 {
    border: solid var(--primary-secondary-color);
    border-width: 1px;
    color: var(--primary-color-text-hover);
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.btn-custom.btn-style-2:hover {
    border: solid var(--primary-secondary-color-hover);
    border-width: 1px;
    color: var(--primary-secondary-color-hover);
    transition: all 0.3s ease;
}

.btn-custom.btn-style-3 {
    padding: 15px 10px;
    border: solid var(--primary-secondary-color);
    border-width: 1px;
    color: var(--primary-color-text-hover);
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.btn-custom.btn-style-3:hover {
    border: solid var(--primary-secondary-color-hover);
    border-width: 1px;
    color: var(--primary-secondary-color-hover);
    transition: all 0.3s ease;
}