header {
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
}

header img {
    width: 150px;
    height: 28px;
    object-fit: cover;
    cursor: pointer;
    
}

header .nav-up {
    padding: 15px 30px;
    align-items: center;
    width: auto;
    display: flex;
    justify-content: space-between;
}

header .nav-up {
    list-style: none;
}

header .nav-up li {
    align-items: center;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

header .nav-menu {
    width: auto;
    padding: 15px 30px;
    float: left;
    font-size: 18px;
    align-items: center;
    font-weight: 300;
    list-style: none;
    background-color: var(--secondary-color);
}

header .nav-menu li {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

header .nav-menu li a {
    text-decoration: none;
    color: var(--primary-color-text);
    transition: all 0.3s ease;
}

header .nav-menu li a:hover {
    text-decoration: none;
    font-weight: 400;
    color: var(--primary-color-text-hover);
    border-bottom: 1px solid var(--primary-color-text-hover);
    transition: all 0.3s ease;
}

header .FaAngleDown {
    height: 15px;
    transition: all 0.3s ease;
}
header .FaAngleDown:hover,
header .FaAngleDown.active {
    color: var(--primary-color-text-hover);
    transform: scale(1.3);
    rotate: 180deg;
    transition: all 0.3s ease;
}